* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475A;
}

a {
  text-decoration: none;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.list-style-none {
  list-style: none;
}

.angle-down,
.false-checkbox {
  margin: 0 7px;
}

.false-checkbox {
  color: #ff7a59;
  font-size: 20px;
}

.button-big {
  display: inline-block;
  color: white;
  background-color: #ff7a59;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}

.button-small {
 color: white;
 background-color: #ff7a59;
 text-decoration: none;
 border-radius: 5px;
 padding: 16px 9px;
}

.header-first-row-background {
  width: 100%;
  background: #F5F8FA;
  height: 75px;
  border-bottom: 1px solid grey;
}

.header-first-row-container {
  width: 70%;
  height: 75px;
  margin: auto;
  border-bottom: 1px solid grey;

}

.header-first-row-left {
  width: 50%;
  height: 75px;
  line-height: 75px;
}

.header-first-row-left ul li {
  color: #33475b;
  display: inline-block;
  padding-right: 18px;
  border-right: 2px solid #33475b;
}

.header-first-row-left ul li:first-child {
  line-height: 25px;
  padding-right: 20px
}
.header-first-row-left ul li:last-child {
  border: none;
  padding-left: 16px;
}

.header-first-row-left ul li a {
  color: inherit;
}

.header-first-row-right {
  width: 50%;
  height: 75px;
  line-height: 75px;
  text-align: right;
}

.header-first-row-right ul li {
  display: inline-block;
}

.search {
  text-decoration: none;
  color: #01A4BD;
}

.login {
  background-color: white;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 16px 16px;
  text-decoration: none;
  color: #ff7a59;
  margin: 0 30px;
}

.header-2nd-row-background {
  width: 100%;
  height: 75px;
  background-color: white;
}

.header-2nd-row-container {
  width: 70%;
  margin: auto;
  height: 75px;
}

.header-2nd-row-right {
  line-height: 75px;
}

.header-2nd-row-right ul li{
  display: inline-block;
  padding-left: 16px
}

.header-2nd-row-right ul li a {
  color: #33475b;
}
.logo {
  transform: translateY(75%);
}

/* sezione banner */
.banner-section-background {
  background-color: #FEF7EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

.banner-section {
  width: 70%;
  height: 695px;
  margin: auto;
}

.title {
  padding-top: 75px 0 16px;
  width: 450px;
}

.title h1 {
  color: #33475b;
  font-size: 55px;
  line-height: 65px;
  padding: 27px 0;
}

.title p {
  color: #33475b;
  line-height: 26px;
}

.title-button {
  padding: 27px 0 0;
  width: 240px;
}

.title-button p {
  display: inline-block;
  padding: 27px 0 27px;
  font-size: 12px;
  line-height: 18px;
  color: #33475b;
}

/* fine header */
/* inizio main */

.col-section {
  width: 100%;
  height: 1523px;
  background-color: #F5F8FA;
}

.dice-section {
  width: 70%;
  height: 400px;
  background-color: #F5F8FA;
  margin: 0 auto;
  padding: 34px 0;
  text-align: center;
}

.dice-section img {
  height: 213px;
  width: auto;
}

.dice-section h2 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
}

.dice-section p {
  line-height: 26px;
  margin-top: 16px;
}

.free-hubspot {

  height: 300px;
  width: 70%;
  margin: auto;
  background-color: white;
  margin-top: 27px;
  box-shadow: rgb(234, 240, 246) 0px 0px 11px 0px;
  border-radius: 4px;
}


.free-hubspot-container {
  width: 80%;
  height: 300px;
  margin: auto;
  padding: 50px 0;

}

.free-hubspot-left {
  position: relative;
  width: 25%;
  /* background-color: white; */
  text-align: center;
  margin-right: 10px;
}


.free-hubspot-left img {

  width: 125px;
  height: auto;
}

.free-hubspot-left a {
margin-top: 10px;
}

.free-hubspot-right {
  width: 65%;
}

.free-hubspot-right h3 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 25px;
}

.free-hubspot-right p {
  font-size: 14px;
  line-height: 23px;
}

/* .free-hubspot-right h5::after {
  content: '';
  position: absolute;
  height: 5px;
  margin-left: 10px;
  border-bottom: 1px solid #e0e6ed;
  top: 4px;
  width: 100%;
} */

.free-hubspot-right h5 {
  font-size: 16px;
  line-height: 21px;
  margin: 26px 0 20px;
  overflow: hidden;
}

.free-hubspot-right h5:after {
  content:"";
  display: inline-block;
  height: 10.5px;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 60px;
  border-top: 1px solid #e0e6ed;
}

.free-hubspot-right ul li {
  font-size: 14px;
  display: inline;
}

.free-hubspot-right ul li:first-child  i{
  margin-left: 0;
}

.three-col-section {
  width: 70%;
  margin: 50px auto 50px;
}

.vertical-column {
  width: 30%;
  padding: 30px 0 0;
  background-color: white;
  box-shadow: rgb(234, 240, 246) 0px 0px 11px 0px;
  border-radius: 4px;

}

.vertical-column-top {
  width: 80%;
  height: 335px;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid grey;
}

.vertical-column-top img {
  height: 100px;
  width: auto;

}

.vertical-column-top h3 {
  font-size: 22px;
  line-height: 30px;
  margin: 16px 0 26px;
}

.vertical-column-top p {
  font-size: 14px;
  line-height: 23px;
}

.popular-features {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  text-align: center;
}

.popular-features h5 {
  margin-bottom: 25px;
  font-size: 16px;
}

.popular-features ul {
  text-align: left;
  margin-bottom: 50px;
}

.popular-features ul li {
  margin-bottom: 5px;
}

.vertical-column-center{
  margin: 0 5% 0;
}

.blue-section-wrapper {
  width: 100%;
  height: 884px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
}

.blue-section-top {
  width: 80%;
  /* height: 500px; */
  margin: auto;
  padding-top: 50px;
  background-color: beige;
  color: white;
}

.blue-section-top h3 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 30px;
}

.blue-section-top p {
  font-size: 15.4px;
}

.blue-section-bottom {
  width: 80%;
  height: 500px;
  margin: auto;
  padding-top: 50px;
  background-color: lightgrey;
  color: white;
}

.grid {
}

.grid-item {
  padding: 50px 50px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.grid div:last-child {
  border-right: none;
}

.grid-item img {
  width: 44px;
  height: 33px;
}
