* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475A;
}

a {
  text-decoration: none;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.list-style-none {
  list-style: none;
}

.angle-down {
  margin: 0 6px;
}

.button-big {
  display: inline-block;
  color: white;
  background-color: #ff7a59;
  padding: 26px 48px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 500;
}

.button-small {
 color: white;
 background-color: #ff7a59;
 text-decoration: none;
 border-radius: 3px;
 padding: 16px 9px;
}

.header-first-row-background {
  width: 100%;
  background: #F5F8FA;
  height: 75px;
  border-bottom: 1px solid grey;
}

.header-first-row-container {
  width: 70%;
  height: 75px;
  margin: auto;
  border-bottom: 1px solid grey;

}

.header-first-row-left {
  width: 50%;
  height: 75px;
  line-height: 75px;
}

.header-first-row-left ul li {
  color: #33475b;
  display: inline-block;
  padding-right: 18px;
  border-right: 2px solid #33475b;
}

.header-first-row-left ul li:first-child {
  line-height: 25px;
  padding-right: 20px
}
.header-first-row-left ul li:last-child {
  border: none;
  padding-left: 16px;
}

.header-first-row-left ul li a {
  color: inherit;
}

.header-first-row-right {
  width: 50%;
  height: 75px;
  line-height: 75px;
  text-align: right;
}

.header-first-row-right ul li {
  display: inline-block;
}

.search {
  text-decoration: none;
  color: #01A4BD;
}

.login {
  background-color: white;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 16px 16px;
  text-decoration: none;
  color: #ff7a59;
  margin: 0 30px;
}

.header-2nd-row-background {
  width: 100%;
  height: 75px;
  background-color: white;
}

.header-2nd-row-container {
  width: 70%;
  margin: auto;
  height: 75px;
}

.header-2nd-row-right {
  line-height: 75px;
}

.header-2nd-row-right ul li{
  display: inline-block;
  padding-left: 16px
}

.header-2nd-row-right ul li a {
  color: #33475b;
}
.logo {
  transform: translateY(75%);
}






















/* sezione banner */
.banner-section-background {
  background-color: #FEF7EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

.banner-section {
  width: 70%;
  height: 695px;
  margin: auto;
}

.title {
  padding-top: 75px 0 16px;
  width: 450px;
}

.title h1 {
  color: #33475b;
  font-size: 55px;
  line-height: 65px;
  padding: 27px 0;
}

.title p {
  color: #33475b;
  line-height: 26px;
}

.title-button {
  padding: 27px 0 0;
  width: 240px;
}

.title-button p {
  display: inline-block;
  padding: 27px 0 27px;
  font-size: 12px;
  line-height: 18px;
  color: #33475b;
}
